/* GLOBAL */
body{
    background-color: #8E7AB5;
    color: #121212;
    margin-top: 0;
}

/* NAVBAR */
#navbar {
    color: #121212;
    background-color: #B784B7;
    padding: 5px 10px;
    margin-top: 0;
}

#navbar {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

#navbar li  {
    display: inline-block;
    margin: 0 40px;
}

#navbar li a {
    color:#121212;
    text-decoration: none;
    font-size: 26px;
}

/* HEADER */
#header {
    text-align: center;
}

#header h1  {
    font-size: 74px;
    margin-bottom: 0;
}

#header p {
    font-size: 36px;
    margin-top: 5px;
}

#header ul  {
    list-style: none;
    padding-left: 0;
}

#header ul li   {
    display: inline-block;
    margin: 0 20 px;
}

#header ul li a {
    text-decoration: none;
    color:  #EEA5A6;
    font-size: 24px;
}

/* ABOUT */
#about {
  margin-top: 30px;
  color: #121212;
  border: 3px solid #121212;
  background-color: #EEA5A6;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
}

/* EDUCATION */
#education  {
margin-top: 30px;
  color: #121212;
  border: 3px solid #121212;
  background-color: #B784B7;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
}

/* EXPERIENCE */
#experience {
    margin-top: 30px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 3px solid #121212;
    background-color: #B784B7;
    font-size: 20px;
}

#experience ul  {
    list-style: none;
    padding-left: 0;
}

#experience .single-exp {
  margin-bottom: 30px;
}

#experience .single-exp>li {
  font-size: 20px;
  font-weight: 600;
  background-color: #EEA5A6;
  color: #121212;
  padding: 2px 10px;
  border-radius: 20px;
  margin-bottom: 5px;
}

#experience .single-exp div {
  text-align: right;
  font-style: italic;
  font-size: 20px;
}


/* PROJECTS */
#projects {
  margin-top: 30px;
  text-align: center;
  border: 3px solid #121212;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #B784B7;
  }

#projects h1 {
  text-align: left;
}

#projects .project {
  display: inline-block;
  width: 350px;
  height: 350px;
  margin: 0 10px;
  background-color: #EEA5A6;
  font-size: 28px;
  padding: 100px 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

#projects .project:hover {
  cursor: pointer;
}

#projects .project a {
  color: #121212;
  text-decoration: none;
}

/* SKILLS */
#skills {
  color:#121212;
  background-color: #B784B7;
  margin-top: 30px;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  border: 3px solid #121212;
  }

#skills h1 {
  text-align: left;
}

#skills ul {
  color:#121212;
  list-style: none;
  font-size: 28px;
}

/* LANGUAGES */
#languages {
  margin-top: 30px;
  text-align: center;
  border: 3px solid #121212;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #B784B7;
  list-style: none;
  }

#languages h1 {
  text-align: left;
}

#languages ul {
  color:#121212;
  list-style: none;
  font-size: 28px;
}

/* AMBITION */
#ambition  {
margin-top: 30px;
  color: #121212;
  border: 3px solid #121212;
  background-color:#EEA5A6;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 24px;
}

